.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 50px;
  position: sticky;
  background-color: rgb(16, 16, 16);
  column-gap: 100px;
  height: 10%;
}

.burger_wrapper {
  display: flex;
  align-items: center;
  column-gap: 15px;
  flex-wrap: wrap;
}

.burger_wrapper > .burger {
  font-size: 30px;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 840px) {
  .burger_wrapper {
    .cats {
      display: none;
    }
  }

  .header {
    column-gap: 50px;
  }
}

@media (max-width: 688px) {
  .header {
    height: 9.5%;
    column-gap: 25px;
    padding: 0 25px;
  }
}
