.form {
  display: flex;
  width: 40%;
}

.input {
  padding: 15px 20px;
  outline: none;
  border-radius: 8px 0px 0px 8px;
  font-size: 20px;
  width: 100%;
  background-color: rgb(38, 38, 38);
  color: rgb(140, 140, 140);
  font-size: 1rem;
  font-weight: 400;
  caret-color: white;

  &:focus {
    color: white;
  }
}

.search_button {
  outline: none;
  font-size: 20px;
  border-radius: 0px 8px 8px 0px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #e6e6e6;
  }
}

.search_button,
.input {
  border: none;
}

@media (max-width: 1074px) {
  .form {
    width: 60%;
  }
}

@media (max-width: 840px) {
  .form {
    width: 80%;
  }
}

@media (max-width: 688px) {
  .form {
    width: 90%;
    .input {
      padding: 10px 15px;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    .search_button {
      display: none;
    }
  }
}

@media (max-height: 439px) {
  .input {
    padding: 7px 10px;
  }
}
